
<input type="button" value="register" (click)="register()">
<table border=1px>
    <tr>
        <td>
            username 
        </td>
        <td>
             password
        </td>
        </tr> 
    <button value="Add" (click)="Add()">Add</button> 
<tr *ngFor="let d of arrshow; index as i">
 <td>{{d.username}}</td>
    <td>{{d.password}}</td>
     
     <button [routerLink]="['/edit',i]">Edit  </button>

    <button value="Delete" (click)="Delete(i)">Delete</button>


    
</tr>
</table>
